/CGApiChallenge/CGApiChallenge/bin
/CGApiChallenge/CGApiChallenge/CGApiChallenge.csproj.user
/CGApiChallenge/CGApiChallenge/CGApiChallenge.db
/CGApiChallenge/CGApiChallenge/obj
/CGApiChallenge/CGApiChallenge/Properties/serviceDependencies.local.json.user
/CGApiChallenge/.vs/CGApiChallenge/DesignTimeBuild/.dtbcache.v2
/CGApiChallenge/.vs/CGApiChallenge/v16/.suo
